<div class="container">

  <br>
  <br>
  <div class="input-group">
    <input type="text" class="form-control" #searchInput placeholder="Search for...">

  </div>

  <div class="form-row">
    <div class="col-md-6">
        <label for="selectType">Search type</label>
        <select class="form-control" id="selectType" #selectType>
          <option selected value="regular">Term</option>
          <option value="fuzzy">Fuzzy</option>
          <option value="prefix">Prefix</option>
          <option value="range">Range</option>
          <option value="phrase">Phrase</option>
        </select>
    </div>
    <div class="col-md-6">
      <label for="selectField">Search for</label>
      <select class="form-control" id="selectField" #selectField>
        <option selected value="text">Content</option>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="keywords">Keywords</option>
      </select>
    </div>
  </div>
  <br>
  <button (click)="search(searchInput.value,selectType.value,selectField.value)" class="btn btn-primary">Search</button>





  <br>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th>Keywords</th>
      <th>Category</th>
      <th>Langueage</th>
      <th>Download</th>
      <th *ngIf="userLogged">Delete</th>
      <th *ngIf="userLogged">Edit</th>
    </thead>
    <tbody *ngFor="let ebook of ebooks">
      <tr>
        <td (click)="goToEbook(ebook.id)">{{ebook.title}}</td>
        <td>{{ebook.author}}</td>
        <td>{{ebook.publicationYear}}</td>
        <td>{{ebook.keywords}}</td>
        <td *ngIf="kategorijeStigle">{{getCatName(ebook.categoryId)}}</td>
        <td *ngIf="jeziciStigli">{{languages[ebook.languageId - 1].languageName}}</td>
        <div *ngIf="isUserAdmin || (myCategoryId==ebook.categoryId || myCategoryId==0); then ifBlock;else elseBlock"></div>
        <ng-template #ifBlock>
          <td>
            <button style="display: block; text-align: center; margin: auto !important;" class="btn btn-info" (click)="download(ebook.fileName)">Download</button>
          </td>
        </ng-template>
        <ng-template #elseBlock>
          <td>
            <button style="display: block; text-align: center; margin: auto !important;" class="btn btn-info" (click)="goToLogin()">Login to download</button>
          </td>
        </ng-template>
        <td *ngIf="userLogged">
          <button [disabled]="!isUserAdmin && !(myCategoryId==ebook.categoryId || myCategoryId==0)" (click)="deleteBook(ebook.id)"
            style="display: block; text-align: center; margin: auto !important;" class="btn btn-danger">Delete</button>
        </td>
        <td *ngIf="userLogged">
          <button [disabled]="!isUserAdmin && !(myCategoryId==ebook.categoryId || myCategoryId==0)" (click)="goToEBook(ebook.id)" style="display: block; text-align: center; margin: auto !important;"
            class="btn btn-info">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>